body {
	background: linear-gradient(to right, #023B5B, #0090CA);
	background-repeat: repeat-y;
}

h1 {
	font-size: 4em;
	text-align: center;
	color: white;
}

a {
	color: white;
	margin-left: 2.5rem;
}

label {
	color: white;
}

.container {
	text-align: center;
}

.navbar-nav li a:hover {
	color:white !important;
}
.active a:hover {
	color:black !important;
}

/* bootstrap navbar styles */
.navbar-default {
	background-color: #0C2243;
	border-color: #0C2243;
	color: white;
}

.nav li a, .navbar-brand {
	margin: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle {
	border-style: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
	color: white;
}
.navbar-text {
	cursor: pointer;
	user-select: none;
}

.logo-image {
	max-width: 60%;
	margin: 7rem 0 2.5rem 2.5rem;
}

.navbar-brand img {
	display: inline-block;
}

/* login/registration/offer creation pages */

input, textarea {
	width: 100%;
}
.noicon {
	margin-left: 3%;
}

.glyphicon {
	font-size: 1.5em;
	color: white;
}
.glyphicon-lock{
	margin-left:0.2rem;
}
input[type="submit"] {
	width: 100%;
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 3rem;
}


::-webkit-input-placeholder {
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
	color: white;  
}
:-ms-input-placeholder {  
	color: white;  
}
/*Page Title*/
.page_title{
	font-weight: bolder;
    font-size: 1.5rem;
}

/* offers page*/
.panel {
	border: none;
}

.panel-default .panel-heading {
	background-color: #0b2243;
	border-color: #0b2243;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-style: none;
}

.offer {
	background: linear-gradient(to right, #063555, #095b82);
}
.offer-event {
	margin-left: 0.5rem;
	font-weight: bold;
	color: white;
}

.offer-image {
	width: 100%;
	margin: 1rem auto;
}
#map {
	height: 26em;
	width: 26em;
	margin: 0 auto;
}
.accordion-toggle {
	margin: 0;
	padding: 0;
}
.glyphicon-star{
	color:orange;
	font-size:1.5rem;
}
.glyphicon-star-empty{
	color:goldenrod;
	font-size:1.5rem;
	margin-left:-0.3rem;
}
.request-icons > .glyphicon-ok-sign {
	color: green;
	font-size: 4rem;
}
.text-center > .glyphicon-ok-sign{
    color: green;
	font-size: 3rem;
}

.request-icons > .glyphicon-remove-sign {
	color: red;
	font-size: 4rem;
}

.text-center > .glyphicon-remove-sign{
    color: red;
	font-size: 3rem;
}
.wrapper {
	width:90%;
	margin:0 auto;
	padding:0px;
	margin-top:15px;
}
.field {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #93A6BA;
	line-height: 4rem;
	margin: 1rem 0;
}

.field input, .field textarea, .field select {
	background-color: #93A6BA;
	outline:none;
	border:none;
	color: white;
}

.field select, input[type="datetime-local"] {
	height: 4rem;
	width: 100%;
}

.field .glyphicon {
	margin-left: 3%;
	margin-right: 2%;
	color: white;
}
.request-icons{
   margin-top: 2rem; 
}

input[type="submit"] {
	background-color: white;
	color: black;
}
/*submit button*/
#accept_submit{
	background-color: #0C2243;
	color: white;
}

/*table*/
.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}
