body {
	background: linear-gradient(to right, #023B5B, #0090CA);
	background-repeat: repeat-y;
}

h1 {
	font-size: 4em;
	text-align: center;
	color: white;
}

a {
	color: white;
}

.fa-times-circle {
	color: red;
}

.fa-check-circle {
	color: green;
}


/* bootstrap navbar styles */
.navbar-default {
	background-color: #0C2243;
	border-color: #0C2243;
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle {
	border-style: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: white;
}

.logo-image {
	max-width: 70%;
	margin: 3rem;
}

.container {
	text-align: center;
}

/* login page */
input[type="text"], input[type="email"], input[type="password"] {
	background-color: #93A6BA;
	color: white;
	border-style: none;
	margin: 0.5rem;
	width: 80%;
	line-height: 3rem;
	font-size: 1.5em;
	padding: 1%;
	font-weight: lighter;
}

.glyphicon-user, .glyphicon-lock {
	font-size: 1.5em;
	color: white;
}

input[type="submit"] {
	width: 85%;
	margin: 1rem 0;
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 3rem;
}
::-webkit-input-placeholder {
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
	color: white;  
}
:-ms-input-placeholder {  
	color: white;  
}