body {
	background: linear-gradient(to right, #023B5B, #0090CA);
	background-repeat: repeat-y;
}

h1 {
	font-size: 4em;
	text-align: center;
	color: white;
}

a {
	color: white;
	margin-left: 2.5rem;
}

label {
	color: white;
}

.fa-times-circle {
	color: red;
}

.fa-check-circle {
	color: green;
}


/* bootstrap navbar styles */
.navbar-default {
	background-color: #0C2243;
	border-color: #0C2243;
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle {
	border-style: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: white;
}

.logo-image {
	max-width: 60%;
	margin: 3rem 0 2.5rem 2.5rem;

}

.navbar-brand img {
	display: inline-block;
}

.container {
	text-align: center;
}

/* login/registration/offer creation pages */


input[type="datetime-local"] {
	width: 80%;
}

input[name="OfferAddress"] {
	width: 72%;
}

.glyphicon {
	font-size: 1.5em;
	color: white;
}
.glyphicon-lock{
	margin-left:0.2rem;
}
input[type="submit"] {
	width: 100%;
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 3rem;
}


::-webkit-input-placeholder {
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
	color: white;  
}
:-ms-input-placeholder {  
	color: white;  
}
/*Page Title*/
.page_title{
	font-size: 1.7rem;
	font-weight: bolder;
	margin-top: 1rem;
}

/* offers page*/
.offer {
	background: linear-gradient(to right, #063555, #095b82);
}
.offer-avatar {
}
.accordion-toggle {
	margin: 0;
	padding: 0;
}
.accordion-toggle span {
	color: black;
}

.glyphicon-ok-sign {
	color: green;
}

.glyphicon-remove-sign {
	color: red;
}
.wrapper {
	width:70%;
	margin:0 auto;
	padding:0px;
	margin-top:15px;
}
.field {
	width:100%;
	display:flex;
}
.icon {
	padding:1%;
	width:10%;
	max-width:10%;
	min-width:10%;
	background-color: #93A6BA;
	margin-top:-1px;
	height:1%;
	line-height:3rem;
	font-size:1.5rem;
}
input[type="text"], input[type="password"], textarea, input[type="datetime-local"] {
	padding:1%;
	background-color: #93A6BA;
	border:none;
	width:100%;
	margin-bottom:10px;
	color:white;
	line-height:3rem;
	font-size:1.5rem;
	outline:none ;
}
.glyphicon {
	color:white;
}
.noicon {
	width:100%;
}