body {
	background: linear-gradient(to right, #023B5B, #0090CA);
	background-repeat: repeat-y;
}

h1 {
	font-size: 4em;
	text-align: center;
	color: white;
}

a {
	color: white;
	margin-left: 2.5rem;
}

span {
	font-weight: lighter;
}

.fa-times-circle {
	color: red;
}

.fa-check-circle {
	color: green;
}


/* bootstrap navbar styles */
.navbar-default {
	background-color: #0C2243;
	border-color: #0C2243;
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}

.navbar-toggle {
	border-style: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: white;
}

.logo-image {
	max-width: 60%;
	margin: 3rem 0 2.5rem 2.5rem;
	
}

.navbar-brand img {
	display: inline-block;
}

.container {
	text-align: center;
}

/* login page */
input[type="text"], input[type="email"], input[type="password"], textarea, input[type="datetime-local"] {
	background-color: #93A6BA;
	color: white;
	border-style: none;
	margin: 0.5rem;
	width: 80%;
	line-height: 3rem;
	font-size: 1.5em;
	padding: 1%;
	font-weight: lighter;
}

input[type="datetime-local"] {
	width: 70%;
}

.glyphicon-user,.glyphicon-lock, .glyphicon-envelope {
	font-size: 1.5em;
	color: white;
}
.glyphicon-lock{
	margin-left:0.2rem;
}
input[type="submit"] {
	width: 80%;
	margin: 1rem 0;
	margin-left: 2.5rem;
	font-weight: bolder;
	font-size: 1.5em;
	line-height: 3rem;
}


::-webkit-input-placeholder {
	color: white;
}
:-moz-placeholder { /* Firefox 18- */
	color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
	color: white;  
}
:-ms-input-placeholder {  
	color: white;  
}