
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
/*
body {
	margin: 30px;
	background: rgb(15, 15, 15);
	color: rgb(134, 254, 25);
	text-shadow: 0 0 rgba(134, 254, 25, 0.5);
	font-family: 'Verdana';
	text-align: center;
}
*/

.compass_container {
	position: relative;
	margin: 20px auto;
	height: 24em;
	width: 24em;
	background: #0090CA;
	padding: 20px;
	border: 5px solid #444;
}

.compass {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 200;
	background: url('./images/compass3.svg');
	width: 22em;
	height: 22em;
	background-size: 100%;
}

.offer_radar {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 300;
	width: 22em;
	height: 22em;
	background-size: 100%;
}
